body,html,div {
    padding: 0;
    margin: 0;
}

#app_info{
    margin: 20px;
    height: 300px;
    /*background: beige;*/
    display: flex;
    flex-direction:row;
}

#img_app {
    width: 100px;
    height: 100px;
}

#app_info_data {
    margin-left: 20px;
    width: 300px;
    height: 400px;
    /*background: cadetblue;*/
}

#comment_list {
    /*background: beige;*/
    border:1px solid #000;
    margin: 20px;
}

.comment_div {
    justify-content: center;
    width: 900px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border:1px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

.comment_date {
    margin-left: 20px;
}

.comment_msg {
    margin-top: 20px;
}

#input_comment {
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: flex-end;
}

#text_comment {
    width: 600px;
    height: 300px;
}

#commit {
    margin-left: 20px;
    width: 80px;
    height: 40px;
}