body,html,div {
    padding: 0;
    margin: 0;
}

#app_info{
    margin-left: 80px;
    margin-top: 100px;
    height: 500px;
    /*background: beige;*/
    display: flex;
    flex-direction:row;
}

#img_app {
    width: 100px;
    height: 100px;
}

#app_info_data {
    margin-left: 50px;
    width: 800px;
    height: 500px;
    font-size: 18px;
}

#app_info #app_info_data p {
    padding: 0px;
    margin: 0px 0px 30px 0px;
}

#comment_list {
    /*background: beige;*/
    border:1px solid #c0c0c0;
    border-radius: 4px;
    margin: 20px;
}

.comment_div {
    justify-content: center;
    width: 900px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border:1px solid #c0c0c0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

.comment_date {
    margin-left: 20px;
}

.comment_msg {
    margin-top: 20px;
}

#input_comment {
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: flex-end;
    margin-bottom: 20px;
}

#text_comment {
    width: 400px;
    height: 200px;
}

#commit {
    margin-left: 20px;
    width: 80px;
    height: 40px;
    background-color: white;
    color: #333333;
    border-radius: 4px;
}

#title_comment{
    margin-top: 10px;
    margin-left: 20px;
}

#title_screenshot{
    margin-top: 10px;
    margin-left: 20px;
}

.line {
    background-color: #c0c0c0;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

#screenshot_pic_list {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

#screenshot_pic_list img {
    margin-left: 10px;
    margin-right: 10px;
    width: 320px;
    height: 480px;
}

#download {
    width: 80px;
    height: 25px;
    background-color: white;
    color: #333333;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    display: block;
    text-align: center;
    text-decoration: none;
}

#describe {
    font-size: 16px;
    color: #999999;
}