body,html,div {
    padding: 0;
    margin: 0;
}
body,html {

}
#div_upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form_upload {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 900px;
    border:1px solid #c0c0c0;
    border-radius: 4px;
}

#form_upload div {
    display: flex;
    justify-content: left;
    padding: 10px;
}

#packageId,#name {
    height: 20px;
}


#form_upload #div_describe, #describe {
    height: 70px;
}

#submit {
    width: 80px;
    height: 40px;
    background-color: white;
    color: #333333;
    border-radius: 4px;
}

#form_upload #div_table {

}

#div_table td {
    height: 60px;
}

#div_preview {
    display: flex;
}
#div_preview img {
    width: 120px;
    height: 220px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("../image/image.png") ;
    background-repeat: no-repeat;
    background-size:contain;
}

#div_select_pic {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#div_screenshot {
    border-top: 1px solid #c0c0c0;
    margin-left: 20px;
    margin-right: 20px;
}

#img_logo {
    display: block;
    width: 56px;
    height: 56px;
    background-image: url("../image/image.png") ;
    background-repeat: no-repeat;
    background-size:contain;
}